http_interactions:
- request:
    method: GET
    uri: https://api-web.nhle.com/v1/schedule/2019-11-01
  response:
    status: 200
    headers:
      content-type: application/json
      etag: W/"69da37fc--gzip"
    body:
      string: '{"nextStartDate":"2019-11-08","previousStartDate":"2019-10-25","gameWeek":[{"date":"2019-11-01","dayAbbrev":"FRI","numberOfGames":8,"datePromo":[],"games":[{"id":2019020196,"season":20192020,"gameType":2,"venue":{"default":"Prudential
        Center"},"neutralSite":false,"startTimeUTC":"2019-11-01T23:00:00Z","easternUTCOffset":"-04:00","venueUTCOffset":"-04:00","venueTimezone":"US/Eastern","gameState":"OFF","gameScheduleState":"OK","tvBroadcasts":[{"id":281,"market":"N","countryCode":"CA","network":"TVAS","sequenceNumber":120},{"id":300,"market":"H","countryCode":"US","network":"MSG+
        2","sequenceNumber":362},{"id":322,"market":"A","countryCode":"US","network":"NBCSP","sequenceNumber":389}],"awayTeam":{"id":4,"commonName":{"default":"Flyers"},"placeName":{"default":"Philadelphia","fr":"Philadelphie"},"placeNameWithPreposition":{"default":"Philadelphia","fr":"de
        Philadelphie"},"abbrev":"PHI","logo":"https://assets.nhle.com/logos/nhl/svg/PHI_19992000-20222023_light.svg","darkLogo":"https://assets.nhle.com/logos/nhl/svg/PHI_19992000-20222023_dark.svg","awaySplitSquad":false,"score":4},"homeTeam":{"id":1,"commonName":{"default":"Devils"},"placeName":{"default":"New
        Jersey"},"placeNameWithPreposition":{"default":"New Jersey","fr":"du New Jersey"},"abbrev":"NJD","logo":"https://assets.nhle.com/logos/nhl/svg/NJD_light.svg","darkLogo":"https://assets.nhle.com/logos/nhl/svg/NJD_dark.svg","homeSplitSquad":false,"score":3},"periodDescriptor":{"number":5,"periodType":"SO","maxRegulationPeriods":3},"gameOutcome":{"lastPeriodType":"SO"},"winningGoalie":{"playerId":8479394,"firstInitial":{"default":"C."},"lastName":{"default":"Hart"}},"gameCenterLink":"/gamecenter/phi-vs-njd/2019/11/01/2019020196"},{"id":2019020197,"season":20192020,"gameType":2,"venue":{"default":"NYCB
        Live/Nassau Coliseum"},"neutralSite":false,"startTimeUTC":"2019-11-01T23:00:00Z","easternUTCOffset":"-04:00","venueUTCOffset":"-04:00","venueTimezone":"America/New_York","gameState":"OFF","gameScheduleState":"OK","tvBroadcasts":[{"id":329,"market":"N","countryCode":"US","network":"ESPN+","sequenceNumber":16},{"id":299,"market":"H","countryCode":"US","network":"MSG+","s[...]
