http_interactions:
- request:
    method: GET
    uri: https://api-web.nhle.com/v1/playoff-bracket/2019
  response:
    status: 200
    headers:
      content-type: application/json
      etag: W/"69eaca4a--gzip"
    body:
      string: '{"bracketLogo":"https://assets.nhle.com/logos/playoffs/png/scp-horizontal-banner-en.png","bracketLogoFr":"https://assets.nhle.com/logos/playoffs/png/scp-horizontal-banner-fr.png","series":[{"seriesUrl":"/schedule/playoff-series/2019/series-a/bluejackets-vs-lightning","seriesTitle":"1st
        Round","seriesAbbrev":"R1","seriesLetter":"A","playoffRound":1,"topSeedRank":1,"topSeedRankAbbrev":"D1","topSeedWins":0,"bottomSeedRank":4,"bottomSeedRankAbbrev":"WC2","bottomSeedWins":4,"winningTeamId":29,"losingTeamId":14,"topSeedTeam":{"id":14,"abbrev":"TBL","name":{"default":"Tampa
        Bay Lightning","fr":"Lightning de Tampa Bay"},"commonName":{"default":"Lightning"},"placeNameWithPreposition":{"default":"Tampa
        Bay","fr":"de Tampa Bay"},"logo":"https://assets.nhle.com/logos/nhl/svg/TBL_light.svg","darkLogo":"https://assets.nhle.com/logos/nhl/svg/TBL_dark.svg"},"bottomSeedTeam":{"id":29,"abbrev":"CBJ","name":{"default":"Columbus
        Blue Jackets","fr":"Blue Jackets de Columbus"},"commonName":{"default":"Blue
        Jackets"},"placeNameWithPreposition":{"default":"Columbus","fr":"de Columbus"},"logo":"https://assets.nhle.com/logos/nhl/svg/CBJ_light.svg","darkLogo":"https://assets.nhle.com/logos/nhl/svg/CBJ_dark.svg"}},{"seriesUrl":"/schedule/playoff-series/2019/series-b/mapleleafs-vs-bruins","seriesTitle":"1st
        Round","seriesAbbrev":"R1","seriesLetter":"B","[...]
