http_interactions:
- request:
    method: GET
    uri: https://api-web.nhle.com/v1/gamecenter/2020020001/boxscore
  response:
    status: 200
    headers:
      content-type: application/json
      etag: W/"69eb41dc--gzip"
    body:
      string: '{"id":2020020001,"season":20202021,"gameType":2,"limitedScoring":false,"gameDate":"2021-01-13","venue":{"default":"Wells
        Fargo Center"},"venueLocation":{"default":"Philadelphia","fr":"Philadelphie"},"startTimeUTC":"2021-01-13T22:30:00Z","easternUTCOffset":"-05:00","venueUTCOffset":"-05:00","tvBroadcasts":[{"id":241,"market":"N","countryCode":"US","network":"NBCSN","sequenceNumber":25},{"id":284,"market":"N","countryCode":"CA","network":"SN1","sequenceNumber":113}],"gameState":"OFF","gameScheduleState":"OK","periodDescriptor":{"number":3,"periodType":"REG","maxRegulationPeriods":3},"regPeriods":3,"awayTeam":{"id":5,"commonName":{"default":"Penguins"},"abbrev":"PIT","score":3,"sog":34,"logo":"https://assets.nhle.com/logos/nhl/svg/PIT_light.svg","darkLogo":"https://assets.nhle.com/logos/nhl/svg/PIT_dark.svg","placeName":{"default":"Pittsburgh"},"placeNameWithPreposition":{"default":"Pittsburgh","fr":"de
        Pittsburgh"}},"homeTeam":{"id":4,"commonName":{"default":"Flyers"},"abbrev":"PHI","score":6,"sog":27,"logo":"https://assets.nhle.com/logos/nhl/svg/PHI_19992000-20222023_light.svg","darkLogo":"https://assets.nhle.com/logos/nhl/svg/PHI_19992000-20222023_dark.svg","placeName":{"default":"Philadelphia","fr":"Philadelphie"},"placeNameWithPreposition":{"default":"Philadelphia","fr":"de
        Philadelphie"}},"clock":{"timeRemaining":"00:00","secondsRemaining":0,"running":false,"inIntermission":false},"playerByGameStats":{"awayTeam":{"forwards":[{"playerId":8474098,"sweaterNumber":7,"name":{"default":"C.
        Sceviour"},"position":"C","goals":0,"assists":0,"points":0,"plusMinus":-1,"pim":0,"hits":4,"powerPlayGoals":0,"sog":1,"faceoffWinningPctg":1.000000,"toi":"12:39","blockedShots":1,"shifts":17,"giveaways":2,"takeaways":0},{"playerId":8478542,"sweaterNumber":9,"name":{"default":"E.
        Rodrigues"},"position":"C","goals":0,"assists":0,"points":0,"plusMinus":-1,"pim":0,"hits":0,"powerPlayGoals":0,"sog":3,"faceoffWinningPctg":0.000000,"toi":"18:48","blockedShots":0,"shifts":26,"giveaways":1,"takeaways":0},{"playerId":8479293,"sweaterNumber":13,"name":{"default":"B.
        Tanev"},"position":"L","goals":1,"assists":1,"points":2,"plusMinus":1,"pim":0,"hits":7,"powerPlayGoals":0,"sog":2,"faceoffWinningPctg":0.00[...]
