http_interactions:
- request:
    method: GET
    uri: https://lscluster.hockeytech.com/feed/index.php?feed=modulekit&view=schedule&season_id=5&key=446521baf8c38984&client_code=pwhl
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
    body:
      string: '{"SiteKit":{"Parameters":{"feed":"modulekit","view":"schedule","season_id":5,"key":"446521baf8c38984","client_code":"pwhl","league_id":"1"},"Schedule":[{"id":"105","game_id":"105","season_id":"5","quick_score":"0","date_played":"2024-11-30","date":"Nov.
        30","date_with_day":"Sat, Nov 30","date_time_played":"2024-11-30T14:00:00Z","GameDateISO8601":"2024-11-30T14:00:00-05:00","home_team":"6","visiting_team":"1","home_goal_count":"3","visiting_goal_count":"1","period":"3","overtime":"0","schedule_time":"14:00:00","schedule_notes":"","game_clock":"00:00:00","timezone":"Canada\/Eastern","game_number":"1","shootout":"0","attendance":"8089","status":"4","location":"17","game_status":"Final","intermission":"0","game_type":"","game_letter":"","if_necessary":"0","period_trans":"3","started":"1","final":"1","tickets_url":"https:\/\/www.ticketmaster.ca\/event\/10006158073B440D","home_audio_url":"","visiting_audio_url":"","home_team_name":"Toronto
        Sceptres","home_team_code":"TOR","home_team_nickname":"Sceptres","home_team_city":"Toronto","home_team_division_long":"PWHL","home_team_division_short":"PWHL","visiting_team_name":"Boston
        Fleet","visiting_team_code":"BOS","visiting_team_nickname":"Fleet","visiting_team_city":"Boston","visiting_team_division_long":"PWHL","visiting_team_division_short":"PWHL","notes_text":"","use_shootouts":"1","venue_name":"Coca-Cola
        Coliseum | Toronto","venue_url":"https:\/\/www.coca-colacoliseum.com\/","venue_location":"Toronto,
        ON","last_modified":"2024-11-30 22:06:04","flo_core_event_id":"","flo_live_event_id":"","htv_game_id":"","client_code":"pwhl","scheduled_time":"2:00
        pm EST","broadcasters":{"home_video":[{"broadcaster_id":"1","name":"CBC","logo_url":"https:\/\/assets.leaguestat.com\/pwhl\/broadcasters\/CBC.png","url":""},{"broadcaster_id":"17","name":"NESN","logo_url":"https:\/\/assets.leaguestat.com\/pwhl\/broadcasters\/NESN.png","url":""}]},"mobile_calendar":"https:\/\/lscluster.hockeytech.com\/components\/calendar\/ical_add_games.php?client_code=pwhl&game_ids=105"},{"id":"106","game_id":"106","season_id":"5","quick_score":"0","date_played":"2024-11-30","date":"Nov.
        30","date_with_day":"Sat, Nov 30","date_time_played":"2024-11-30T17:00:00Z","GameDateISO8601":"2024-11-30T17:00:00-05:00","home_team":"3","visiting_team":"5","home_goal_count":"4","visiting_goal_count":"3","period":"4","overtime":"1","schedule_time":"17:00:00","schedule_notes":""[...]
- request:
    method: GET
    uri: https://lscluster.hockeytech.com/feed/index.php?feed=modulekit&view=seasons&key=446521baf8c38984&client_code=pwhl
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
    body:
      string: '{"SiteKit":{"Parameters":{"feed":"modulekit","view":"seasons","key":"446521baf8c38984","client_code":"pwhl","league_id":"1","season_id":"9"},"Seasons":[{"season_id":"9","season_name":"2026
        Playoffs","shortname":"2026 Playoffs","career":"1","playoff":"1","start_date":"2026-04-28","end_date":"2026-05-28"},{"season_id":"8","season_name":"2025-26
        Regular Season","shortname":"2025-26 Reg","career":"1","playoff":"0","start_date":"2025-11-21","end_date":"2026-04-27"},{"season_id":"7","season_name":"2025-26
        Preseason","shortname":"2025-26 Preseason","career":"0","playoff":"0","start_date":"2025-06-01","end_date":"2025-11-19"},{"season_id":"6","season_name":"2025
        Playoffs","shortname":"2025 Playoffs","career":"1","playoff":"1","start_date":"2025-05-06","end_date":"2025-06-03"},{"season_id":"5","season_name":"2024-25
        Regular Season","shortname":"2024-25 Reg","career":"1","playoff":"0","start_date":"2024-11-25","end_date":"2025-05-05"},{"season_id":"4","season_name":"2024-25
        Preseason","shortname":"2024-25 Preseason","career":"0","playoff":"0","start_date":"2024-11-01","end_date":"2024-11-29"},{"season_id":"3","season_name":"2024
        Playoffs","shortname":"2024 Playoffs","career":"1","playoff":"1","start_date":"2024-05-06","end_date":"2024-06-10"},{"season_id":"1","season_name":"2024
        Regular Season","shortname":"2024 Reg","career":"1","playoff":"0","start_date":"2024-01-01","end_date":"2024-05-27"},{"season_id":"2","season_name":"2024
        Preseason","shortname":"2024 Preseason","career":"0","playoff":"0","start_date":"2023-11-01","end_date":"2023-12-31"}],"Copyright":{"required_copyright":"Official
        statistics provided by Professional Women''s Hockey League","required_link":"http:\/\/leaguestat.com","powered_by":"Powered
        by HockeyTech.com","powered_by_url":"http:\/\/hockeytech.com"}}}'
  recorded_at: 2026-05-03 00:34:32
recorded_with: VCR-vcr/2.1.0
