http_interactions:
- request:
    method: GET
    uri: https://lscluster.hockeytech.com/feed/index.php?feed=modulekit&view=brackets&season_id=3&key=446521baf8c38984&client_code=pwhl
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
    body:
      string: '{"SiteKit":{"Parameters":{"feed":"modulekit","view":"brackets","season_id":3,"key":"446521baf8c38984","client_code":"pwhl","league_id":"1"},"Brackets":{"teams":{"1":{"id":"1","city":"Boston","team_code":"BOS","name":"PWHL
        Boston","division_long_name":"PWHL","division_short_name":"PWHL","conf_id":"1","logo":"https:\/\/assets.leaguestat.com\/pwhl\/logos\/1.png"},"2":{"id":"2","city":"Minnesota","team_code":"MIN","name":"PWHL
        Minnesota","division_long_name":"PWHL","division_short_name":"PWHL","conf_id":"1","logo":"https:\/\/assets.leaguestat.com\/pwhl\/logos\/2.jpg"},"3":{"id":"3","city":"Montreal","team_code":"MTL","name":"PWHL
        Montreal","division_long_name":"PWHL","division_short_name":"PWHL","conf_id":"1","logo":"https:\/\/assets.leaguestat.com\/pwhl\/logos\/3.png"},"4":{"id":"4","city":"New
        York","team_code":"NY","name":"PWHL New York","division_long_name":"PWHL","division_short_name":"PWHL","conf_id":"1","logo":"https:\/\/assets.leaguestat.com\/pwhl\/logos\/4.png"},"5":{"id":"5","city":"Ottawa","team_code":"OTT","name":"PWHL
        Ottawa","division_long_name":"PWHL","division_short_name":"PWHL","conf_id":"1","logo":"https:\/\/assets.leaguestat.com\/pwhl\/logos\/5.png"},"6":{"id":"6","city":"Toronto","team_code":"TOR","name":"PWHL
        Toronto","division_long_name":"PWHL","division_short_name":"PWHL","conf_id":"1","logo":"https:\/\/assets.leaguestat.com\/pwhl\/logos\/6.png"},"7":{"id":"7","city":"TBD","team_code":"TBD","name":"TBD","division_long_name":"PWHL","division_short_name":"PWHL","conf_id":"1","logo":"https:\/\/lscluster.hockeytech.com\/download.php?file_path=img\/logos\/7.jpg&liaf=1&client_code=pwhl&w=40"}},"rounds":[{"round":"1","round_name":"Semi-Finals","season_id":"3","round_type_id":"1","round_type_name":"Regular
        Playoff Series","matchups":[{"series_letter":"A","series_name":"Semi-Finals","series_logo":"","round":"1","active":"1","feeder_series1":"N\/A","feeder_series2":"N\/A","team1":"6","team2":"2","content_en":"","content_fr":"","winner":"","games":[{"game_id":"84","home_team":"6","home_goal_count":"4","visiting_team":"2","visiting_goal_count":"0","status":"4","game_status":"Final","date_time":"2024-05-08
        19:00:00","GameDateISO8601":"2024-05-08T19:00:00-04:00","if_necessary":"0","game_notes":"","flo_hockey_url":"","flo_core_event_id":"","flo_live_event_id":""},{"game_id":"86","home_team":"6","home_goal_count":"2","visiting_team":"2","visiting_goal_count":"0","status":"4","game_status":"Final","date_time":"2024-05-10
        19:00:00","GameDateISO8601":"2024-05-10T19:00:00-04:00","if_necessary":"0","game_notes":"","flo_hockey_url":"","flo_core_event_id":"","flo_live_event_id":""},{"game_id":"88","home_team":"2","home_goal_count":"2","visiting_team":"6","visiting_goal_count":"0","status":"4","game_status":"Final","date_time":"2024-05-13
        20:00:00","GameDateISO8601":"2024-05-13T20:00:00-04:00","if_necessary":"0","game_notes":"","flo_hockey_url":"","flo_core_event_id":"","flo_live_event_id":""},{"game_id":"90","home_team":"2","home_goal_count":"1","visiting_team":"6","visiting_goal_count":"0","status":"4","game_status":"Final
        OT2","date_time":"2024-05-15 20:00:00","GameDateISO8601":"2024-05-15T20:00:00-04:00","if_necessary":"0","game_notes":"","flo_hockey_url":"","flo_core_event_id":"","flo_live_event_id":""},{"game_id":"92","home_team":"6","home_goal_count":"1","visiting_team":"2","visiting_goal_count":"4","status":"4","game_status":"Final","date_time":"2024-05-17
        19:00:00","GameDateISO8601":"2024-05-17T19:00:00-04:00","if_necessary":"0","game_notes":"Didn''t
        have access to clock for the first 4 min of 2 nd period","flo_hockey_url":"","flo_core_event_id":"","flo_live_event_id":""}],"team1_wins":2,"team2_wins":3,"ties":0},{"series_letter":"B","series_name":"Semi-Finals","series_logo":"","round":"1","active":"1","feeder_series1":"N\/A","feeder_series2":"N\/A","team1":"3","team2":"1","content_en":"","content_fr":"","winner":"","games":[{"game_id":"85","home_team":"3","home_goal_count":"1","visiting_team":"1","visiting_goal_count":"2","status":"4","game_status":"Final
        OT1","date_time":"2024-05-09 19:00:00","GameDateISO8601":"2024-05-09T19:00:00-04:00","if_necessary":"0","game_notes":"","flo_hockey_url":""[...]
