http_interactions:
- request:
    method: GET
    uri: https://lscluster.hockeytech.com/feed/index.php?feed=gc&tab=gamesummary&game_id=137&lang=en&key=446521baf8c38984&client_code=pwhl
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
    body:
      string: '{"GC":{"Parameters":{"feed":"gc","tab":"gamesummary","game_id":"137","lang":"en","key":"446521baf8c38984","client_code":"pwhl","lang_code":"en","lang_id":1,"fmt":"json"},"Gamesummary":{"meta":{"id":"137","season_id":"5","league_id":"1","home_team":"3","visiting_team":"5","game_number":"39","game_letter":"","type_id":"","if_necessary":"0","quick_score":"0","mvp1":"31","mvp2":"198","mvp3":"28","featured_player_id":"","date_played":"2025-01-29","schedule_time":"19:00:00","timezone":"Canada\/Eastern","start_time":"19:07:00","end_time":"21:38:00","forfeit":"0","shootout":"0","shootout_first_shooter_home":"0","attendance":"6150","location":"8","home_coach":"","home_assistant_coach1":"","home_assistant_coach2":"","home_manager":"","visiting_coach":"","visiting_assistant_coach1":"","visiting_assistant_coach2":"","visiting_manager":"","period":"3","game_clock":"00:00:00","status":"4","started":"1","game_length":"","pending_final":"0","final":"1","home_goal_count":"4","visiting_goal_count":"1","home_goals_actual":"0","public_notes":"","private_notes":"Game
        delay for ice repair (duration 2 mins 37 sec)","league_game_notes":"","visiting_team_notes":"","home_team_notes":"","capacity":"","schedule_notes":"","schedule_notes_fr":"","home_audio_url":"","home_video_url":"","home_webcast_url":"","home_audio_url_fr":"","home_video_url_fr":"","home_webcast_url_fr":"","visiting_webcast_url":"","visiting_video_url":"","visiting_audio_url":"","visiting_webcast_url_fr":"","visiting_video_url_fr":"","visiting_audio_url_fr":"","tickets_url":"https:\/\/www.ticketmaster.ca\/event\/3100615ABB60312E","tickets_url_fr":"https:\/\/www.ticketmaster.ca\/event\/3100615ABB60312E?language=fr-ca","last_modified":"2025-01-30
        03:04:51","watch_now_url":"","watch_now_droid_url":"","visiting_goals_actual":"0","htv_game_id":"","imported_id":"","created":"2026-03-23
        17:03:02","flo_core_event_id":"","flo_live_event_id":"","tournament_id":"","start_time_without_seconds":"19:07","end_time_without_seconds":"21:38","12_hour_start_time_without_seconds":"7:07
        pm","12_hour_end_time_without_seconds":"9:38 pm","length":"2:31","timezone_short":"EST"},"txt_title":"GAME
        SUMMARY","txt_scoring":"Scoring","txt_total":"Total","txt_shots":"Shots","game_ident":"39","game_date":"Wednesday,
        January 29, 2025","game_length":"2:31","status_title":"End","status_value":"Final","periods":{"1":{"id":"1","short_name":"1","long_name":"1st","sort_order":"1","period_id":"1","length":"1200","mandatory":"1"},"2":{"id":"2","short_name":"2","long_name":"2nd","sort_order":"2","period_id":"2","length":"1200","mandatory":"1"},"3":{"id":"3","short_name":"3","long_name":"3rd","sort_order":"3","period_id":"3","length":"1200","mandatory":"1"}},"shootout":"0","visitor":{"id":"5","league_id":"1","code":"OTT","team_code":"OTT","address1":"","address2":"","province":"","postal":"","country":"CAN","phone":"","fax":"","active":"1","placeholder":"0","team_id":"5","lang_id":"1","season_id":"5","name":"Ottawa
        Charge","city":"Ottawa","nickname":"Charge","logo_caption":""},"home":{"id":"3","league_id":"1","code":"MTL","team_code":"MTL","address1":"","address2":"","province":"","postal":"","country":"CAN","phone":"","fax":"","active":"1","placeholder":"0","team_id":"3","lang_id":"1","season_id":"5","name":"Montr\u00e9al
        Victoire","city":"Montr\u00e9al","nickname":"Victoire","logo_caption":""},"visitor_division":"PWHL","visitor_division_id":"1","home_division":"PWHL","home_division_id":"1","mvp_type":1,"shootoutDetail":[],"mvps":[{"player_id":"31","first_name":"Marie-Philip","last_name":"Poulin","jersey_number":"29","home":1},{"player_id":"198","first_name":"Jenn","last_name":"Gardiner","jersey_number":"12","home":1},{"player_id":"28","first_name":"Ann-Ren\u00e9e","last_name":"Desbiens","jersey_number":"35","home":1}],"venue":"Place
        Bell | Laval","referee1":"Shauna Neary (49)","referee2":"Chris Rumble (24)","linesman1":"Luke
        Pye (80)","linesman2":"Erin Zach (60)","officialsOnIce":[{"official_type_id":"1","description":"Referee
        1","first_name":"Shauna","last_name":"Neary","jersey_number":"49","person_id":"277"},{"official_type_id":"2","description":"Referee
        2","first_name":"Chris","last_name":"Rumble","jersey_number":"24","person_id":"189"},{"official_type_id":"3","description":"Linesperson
        1","first_name":"Luke","last_name":"Pye","jersey_number":"80","person_id":"262"},{"official_type_id":"4","description":"Linesperson
        2","first_name":"Erin","last_name":"Zach","jersey_number":"60","person_id":"265"}],"officialsOffIce":[],"homeShootout":0,"visitorShootout":0,"benchGoalCount":null,"penalties":[{"event":"penalty","time_off_formatted":"15:03","team_id":"3","home":"1","period_id":"1","period":"1st","offence":"22","pp":"1","bench":"0","penalty_shot":"0","minutes":2,"minutes_formatted":"2:00","penalty_class_id":"1","penalty_class":"Minor","lang_penalty_description":"Interference","s":903,"player_penalized_info":{"player_id":"200","jersey_number":"71","team_id":"3","team_code":"MTL","first_name":"Anna","last_name":"Kjellbin"},"player_served_info":{"player_id":"200","jersey_number":"71","team_id":"3","team_code":"MTL","first_name":"Anna","last_name":"Kjellbin"}},{"event":"penalty","time_off_formatted":"19:29","team_id":"5","home":"0","period_id":"1","period":"1st","offence":"35","pp":"1","bench":"0","penalty_shot":"0","minutes":2,"minutes_formatted":"2:00","penalty_class_id":"1","penalty_class":"Minor","lang_penalty_description":"Tripping","s":1169,"player_penalized_info":{"player_id":"53","jersey_number":"26","team_id":"5","team_code":"O[...]
